.cta {
  &-portfolio {
    margin-top: 100px;
    padding: 120px 0;
    background: #dcfff2;
    &-content {
      h2 {
        margin-bottom: 90px;
        line-height: 65px;
      }
    }
    &-illustration {
      margin: -200px;
      position: relative;
      transform: translateY(-100px);
      img {
        width: 100%;
      }
    }
  }
  padding-bottom: 100px;
  background: linear-gradient(0, #eee5ff 65%, #ffffff 57%);
  &.green {
    background: linear-gradient(0, #dcfff2 65%, #ffffff 57%);
  }
  &-wrapper {
    &-thumb {
      margin-bottom: 40px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-content {
      h2 {
        margin-bottom: 50px;
      }
    }
  }
}
