.hero {
  padding: 80px 0 0;
  &-content {
    z-index: 1;
    position: relative;
    @include desktop {
      text-align: center;
    }
    h1 {
      margin-bottom: 20px;
    }
    p {
      font-family: $secondary-font;
      color: $text-color;
      line-height: 30px;
      margin-bottom: 60px;
      width: 80%;
    }
  }
  &-thumbnail {
    margin: 0 -80px;
    svg {
      width: 100%;
      height: auto;
    }
  }
}
