.recent{
    overflow: hidden;
    &-title{
        h1{
            font-size: 50px;
            font-family: $primary-font;
            color: $black;
        }
    }
    &-slider-arrow{
        ul{
            margin: 0;
            padding: 0;
            text-align: right;
            li{
                list-style: none;
                display: inline-block;
                height: 65px;
                width: 65px;
                position: relative;
                border: 1px solid #979797;
                border-radius: 50%;
                cursor: pointer;
                transition: $transition;
                &::before{
                    position: absolute;
                    content: '';
                    top: 4px;
                    left: 3px;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    z-index: -1;
                }
                &:not(:last-child){
                    margin-right: 40px;
                }
                svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    path{
                        fill: #979797;
                    }
                }
                &.prev{
                    &:before{
                        background: #BBF0E5;
                    }
                }
                &.next{
                    &:before{
                        background: #FFF2CE;
                    }
                }
                &:hover{
                    border: 1px solid $black;
                    svg{
                        path{
                            fill: $black;
                        }
                    }
                }
            }
        }
    }
    &-slider{
        margin-top: 150px;
        &-item{
            border-radius: 10px;
            margin: 0 15px;
            padding: 40px 30px;
            &-title{
                font-size: 25px;
                font-family: $primary-font;
                color: $black;
                line-height: 40px;
                margin-bottom: 35px;
            }
            &-link{
                font-size: 16px;
                font-family: $secondary-font;
                color: $text-color;
                text-decoration: none;
                transition: $transition;
                &:hover{
                    color: $black;
                    text-decoration: none;
                }
            }
        }
        .slick-list {
            overflow: visible;
        }
        [data-slick-index="0"]{
            background: #EEE5FF;
        }
        [data-slick-index="1"]{
            background: #FFE6DD;
            margin-top: -50px;
        }
        [data-slick-index="2"]{
            background: #F9FFC7;
            margin-top: 70px;
        }
        [data-slick-index="3"]{
            background: #DFF4FF;
            margin-top: 10px;
        }
        [data-slick-index="4"]{
            background: #FFF2CE;
            margin-top: -40px;
        }
    }
}