<section class="case-study">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="case-study-wrapper">
                    <div class="case-study-wrapper-thumb">
                        <img src="/images/case-study/case-study.svg" alt="case-study">
                    </div>
                    <div class="case-study-wrapper-content">
                        <h1>Don’t you think, you need to see some 
                            example of my works? Yes?
                        </h1>
                        <a class="button" href="#">Let’s See Case Studies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>