<section class="section case-study-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="case-study-banner-content">
          <h1>Some of my selected works.</h1>
          <p>
            Assumenda laudantium labore aut recusandae perferendis. Est
            voluptatem suscipit explicabo numquam. Recusandae autem incidunt
            occaecati sit reprehenderit error et omnis consectetur. Cum id minus
            et tenetur sunt dicta facilis. Labore maxime et dicta illo inventore
            ab ut cumque aliquid. Autem non eos est est voluptas cum nisi.
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="case-study-banner-thumb">
          <img
            src="images/case-study/case-study-banner.svg"
            alt="case-study-banner"
          />
        </div>
      </div>
    </div>
  </div>
</section>
