<section class="client">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <div class="client-title">
          <h2>Top Clients</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="client-slider-arrow">
          <ul>
            <li class="prev">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="39"
                height="16"
                fill="none"
                viewBox="0 0 39 16"
              >
                <path
                  fill="#979797"
                  fill-rule="evenodd"
                  d="M2.10941 8.00004l7.88334-6.95589-.66162-.749838L.000008 8.52765 9.38047 15.7009l.60745-.7943-7.72394-5.90656H38.787v-1H2.10941z"
                  clip-rule="evenodd"
                />
              </svg>
            </li>
            <li class="next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="16"
                fill="none"
                viewBox="0 0 40 16"
              >
                <path
                  fill="#000"
                  fill-rule="evenodd"
                  d="M37.1776 8.00004l-7.8833-6.95589.6616-.749838L39.287 8.52765l-9.3805 7.17325-.6074-.7943 7.7239-5.90656H.5v-1h36.6776z"
                  clip-rule="evenodd"
                />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="client-slider">
          <div class="client-slider-item">
            <img src="images/clients/client-logo-1.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-2.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-3.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-4.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-1.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-2.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-3.png" alt="client-logo" />
          </div>
          <div class="client-slider-item">
            <img src="images/clients/client-logo-4.png" alt="client-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
