<section class="section client" id="thing">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="client-counter">
                    <span class="counter">5256</span><span>+</span>
                    <h3>Screens</h3>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="client-counter">
                    <span class="counter">96</span><span>+</span>
                    <h3>Clients</h3>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="client-counter">
                    <span class="counter">9</span><span>+</span>
                    <h3>Years Experienced</h3>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="client-counter">
                    <span class="counter">4</span><span>+</span>
                    <h3>Side Projects</h3>
                </div>
            </div>
        </div>
    </div>
</section>