<section class="contact-map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Design for <br />all Over the world</h2>
        </div>
        <div class="contact-map-image">
          <img src="images/map.svg" alt="map" />
          <div
            class="dot"
            style="background: #ff7a7a; left: 60%; top: 25%"
          ></div>
          <div
            class="dot"
            style="background: #fee200; left: 70%; top: 50%"
          ></div>
          <div
            class="dot"
            style="background: #6cecec; left: 70%; top: 35%"
          ></div>
          <div
            class="dot"
            style="background: #25d693; left: 10%; top: 15%"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
