<section class="counter" id="counter">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="counter-item">
          <span class="count">5256</span><span>+</span>
          <h3>Screens</h3>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="counter-item">
          <span class="count">96</span><span>+</span>
          <h3>Clients</h3>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="counter-item">
          <span class="count">9</span><span>+</span>
          <h3>Years Experienced</h3>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="counter-item">
          <span class="count">4</span><span>+</span>
          <h3>Side Projects</h3>
        </div>
      </div>
      <div class="col-12">
        <img
          src="images/about/office.jpg"
          alt="office-decoration"
          class="office"
        />
      </div>
    </div>
  </div>
</section>
