<section class="cta-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="cta-portfolio-content">
          <h2>
            Don’t you think, you need to see some example of my works? Yes?
          </h2>
          <a href="#" class="btn btn-primary">Let’s See Case Studies</a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cta-portfolio-illustration">
          <img
            src="images/cta/cta-portfolio-illustration.svg"
            alt="illustration"
          />
        </div>
      </div>
    </div>
  </div>
</section>
