<section class="section cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="cta-wrapper">
                    <div class="cta-wrapper-thumb">
                        <img src="/images/cta/cta.svg" alt="cta">
                    </div>
                    <div class="cta-wrapper-content">
                        <h1>Satisfied ? Let’s craft’s
                            something awesome together!
                        </h1>
                        <a class="button" href="#">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>