<section
  class="cta @@if( color == 'green'){green} @@if( color == 'pink'){pink}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="cta-wrapper">
          <div class="cta-wrapper-thumb">
            <img src="/images/cta/cta-bg.svg" alt="cta" />
          </div>
          <div class="cta-wrapper-content">
            <h2>Satisfied ? Let’s craft’s something awesome together!</h2>
            <a class="btn btn-primary" href="#">Contact Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
