<section class="freebie">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1>Freebies</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="freebie-feature-item">
          <div class="freebie-feature-item-content">
            <h2>
              How To Improve Your Website’s UX Design For Conversion Rate?
            </h2>
            <a href="#" class="btn btn-primary">Download</a>
          </div>
          <div class="freebie-feature-item-image">
            <img src="images/freebie/feature-item.svg" alt="feature-item" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="freebie-item-filter">
          <button data-filter="*" class="is-active">All</button>
          <button data-filter=".uikit">Web UI Kit</button>
          <button data-filter=".landing">Landing Pages</button>
          <button data-filter=".mobile">Mobile</button>
        </div>
        <div class="freebie-wrapper">
          <a href="#" class="freebie-item landing">
            <img
              src="images/freebie/freebie-thumb-01.jpg"
              alt="freebie-thumb"
            />
            <div class="freebie-item-content">
              <h3>Outfitr: A UI kit for <br />fashion apps</h3>
            </div>
          </a>
          <a href="#" class="freebie-item uikit">
            <img
              src="images/freebie/freebie-thumb-02.jpg"
              alt="freebie-thumb"
            />
            <div class="freebie-item-content">
              <h3>Outfitr: A UI kit for <br />fashion apps</h3>
            </div>
          </a>
          <a href="#" class="freebie-item uikit landing">
            <img
              src="images/freebie/freebie-thumb-03.jpg"
              alt="freebie-thumb"
            />
            <div class="freebie-item-content">
              <h3>Outfitr: A UI kit for <br />fashion apps</h3>
            </div>
          </a>
          <a href="#" class="freebie-item mobile">
            <img
              src="images/freebie/freebie-thumb-04.jpg"
              alt="freebie-thumb"
            />
            <div class="freebie-item-content">
              <h3>Outfitr: A UI kit for <br />fashion apps</h3>
            </div>
          </a>
          <a href="#" class="freebie-item landing mobile">
            <img
              src="images/freebie/freebie-thumb-05.jpg"
              alt="freebie-thumb"
            />
            <div class="freebie-item-content">
              <h3>Outfitr: A UI kit for <br />fashion apps</h3>
            </div>
          </a>
          <a href="#" class="freebie-item uikit mobile">
            <img
              src="images/freebie/freebie-thumb-06.jpg"
              alt="freebie-thumb"
            />
            <div class="freebie-item-content">
              <h3>Outfitr: A UI kit for <br />fashion apps</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
