<section class="journal">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h1>Journal</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="journal-feature-item">
					<div class="journal-feature-item-content">
						<h2>
							How To Improve Your Website’s UX Design For Conversion Rate?
						</h2>
						<a href="#" class="">read now</a>
					</div>
					<div class="journal-feature-item-image">
						<img src="images/freebie/feature-item.svg" alt="feature-item" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="journal-item-filter">
					<button data-filter="*" class="is-active">All</button>
					<button data-filter=".uiux">UI, UX</button>
					<button data-filter=".tutorial">Tutorials</button>
					<button data-filter=".dribbble">Dribbble</button>
					<button data-filter=".instagram">Instagram  Inspirations</button>
				</div>
				<div class="journal-item-wrapper">
					<div class="journal-item tutorial dribbble">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item uiux dribbble">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item uiux tutorial">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item instagram">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item tutorial instagram">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item uiux instagram">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item instagram">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item tutorial instagram">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
					<div class="journal-item uiux instagram">
						<div class="journal-item-content">
							<a href=""><h3>How To Improve Your Website’s UX Design For Conversion Rate?</h3></a>
							<a href="#">Read Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mt-5 text-center">
				<button class="load-button">
				  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="40" viewBox="0 0 17 40">
					<path d="M.69 29.766l8.234 9.33 7.173-9.38-.795-.607-5.907 7.724V.31h-1v36.676L1.44 29.104l-.75.662z" fill="#000" fill-rule="nonzero"></path>
				  </svg>
				</button>
				<span class="d-block mt-3">More Articles</span>
			</div>
		</div>
	</div>
</section>