<section class="journal-details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h1>Journal</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="journal-details-feature-item">
                    <div class="journal-details-feature-item-content">
                        <h2>
                            Digital products are having their “assembly line” moment—here’s how to stay relevant
                        </h2>
                        <ul>
                            <li class="blog-writer">By Atique</li>
                            <li class="blog-reading-time">7 min Read</li>
                            <li class="blog-published-date">May 5, 2021</li>
                        </ul>
                    </div>
                    <div class="journal-feature-item-image">
                        <img src="images/journal-details-header.svg" alt="feature-item" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="journal-details-content">
                    <p>Let’s talk about you a bit, shall we? You’re a UX designer or front-end developer, you’ve spent
                        years honing your chops, you’re on a fast moving product team. Perhaps your team even uses a
                        component library of sorts, you might even call it a “design system.” But, you see, component
                        libraries and Storybooks filled with a few components just don’t cut it anymore. They’re
                        essentially just Lego bricks lacking any clear instructions. They don’t allow your company to
                        ship truly consistent user experiences no matter which team is building it.
                    </p>
                    <blockquote>
                        As the design team manager at Netguru, I manage an amazing team of 60 talented designers.
                        Together, we help companies design beautiful software that meets their business goals. In my
                        career, and through supporting and mentoring my team, I’ve found that designers are masters of
                        their crafts. All can create beautiful designs that attract the design community’s attention and
                        sometimes even potential clients.
                    </blockquote>
                    <p>Let’s talk about you a bit, shall we? You’re a UX designer or front-end developer, you’ve spent
                        years honing your chops, you’re on a fast moving product team. Perhaps your team even uses a
                        component library of sorts, you might even call it a “design system.” But, you see, component
                        libraries and Storybooks filled with a few components just don’t cut it anymore. They’re
                        essentially just Lego bricks lacking any clear instructions. They don’t allow your company to
                        ship truly consistent user experiences no matter which team is building it.
                    </p>
                    <h4>1. Understand what’s at stake</h4>
                    <img src="images/case-study/case-study-05.jpg" alt="blog-details">
                    <p>Designers often have the least to lose if a project fails. Clients, on the other hand, put a huge
                        investment into building a product. They often have just one shot to impress investors or their
                        audience and keep the project alive. The last thing they need is to leave their business future
                        to your gut feeling.
                    </p>
                    <ul>
                        <li>How do you make money?</li>
                        <li>What’s your overall business strategy?</li>
                        <li>What’s your go-to market strategy?</li>
                        <li>What is your company’s internal operations like? What is your</li>
                        <li>Capacity for change?</li>
                        <li>What do your competitors do well? What do they do poorly?</li>
                        <li>What is the overall market condition?</li>
                    </ul>
                    <p>The best designers use these questions to help shift the conversation away from designing for
                        mythical users and towards a satisfying solution for the users a client wants to reach.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
              <div class="blog-slider-title">
                <h2>Similiar Articles</h2>
              </div>
            </div>
            <div class="col-md-6 d-none d-lg-block">
              <div class="blog blog-slider-arrow">
                <ul>
                  <li class="prev">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="39"
                      height="16"
                      fill="none"
                      viewBox="0 0 39 16"
                    >
                      <path
                        fill="#979797"
                        fill-rule="evenodd"
                        d="M2.10941 8.00004l7.88334-6.95589-.66162-.749838L.000008 8.52765 9.38047 15.7009l.60745-.7943-7.72394-5.90656H38.787v-1H2.10941z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </li>
                  <li class="next">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="40"
                      height="16"
                      fill="none"
                      viewBox="0 0 40 16"
                    >
                      <path
                        fill="#000"
                        fill-rule="evenodd"
                        d="M37.1776 8.00004l-7.8833-6.95589.6616-.749838L39.287 8.52765l-9.3805 7.17325-.6074-.7943 7.7239-5.90656H.5v-1h36.6776z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="blog-slider">
                <div class="blog-slider-item">
                  <h1 class="blog-slider-item-title">
                    How To Improve Your Website’s UX Design For Conversion Rate?
                  </h1>
                  <a href="" class="blog-slider-item-link">Read now</a>
                </div>
                <div class="blog-slider-item">
                  <h1 class="blog-slider-item-title">
                    Why Webflow Is the Best Web Design Program Right Now
                  </h1>
                  <a href="" class="blog-slider-item-link">Read now</a>
                </div>
                <div class="blog-slider-item">
                  <h1 class="blog-slider-item-title">
                    A User-centered Approach to Transactional Email Design
                  </h1>
                  <a href="" class="blog-slider-item-link">Read now</a>
                </div>
                <div class="blog-slider-item">
                  <h1 class="blog-slider-item-title">
                    How To Improve Your Website’s UX Design For Conversion Rate?
                  </h1>
                  <a href="" class="blog-slider-item-link">Read now</a>
                </div>
                <div class="blog-slider-item">
                  <h1 class="blog-slider-item-title">
                    How To Improve Your Website’s UX Design For Conversion Rate?
                  </h1>
                  <a href="" class="blog-slider-item-link">Read now</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>