<section class="section recent">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="recent-title">
                    <h1>Recent Articles</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="recent-slider-arrow">
                    <ul>
                        <li class="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="16" fill="none" viewBox="0 0 39 16">
                                <path fill="#979797" fill-rule="evenodd" d="M2.10941 8.00004l7.88334-6.95589-.66162-.749838L.000008 8.52765 9.38047 15.7009l.60745-.7943-7.72394-5.90656H38.787v-1H2.10941z" clip-rule="evenodd"/>
                            </svg>
                        </li>
                        <li class="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="16" fill="none" viewBox="0 0 40 16">
                                <path fill="#000" fill-rule="evenodd" d="M37.1776 8.00004l-7.8833-6.95589.6616-.749838L39.287 8.52765l-9.3805 7.17325-.6074-.7943 7.7239-5.90656H.5v-1h36.6776z" clip-rule="evenodd"/>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="recent-slider">
                    <div class="recent-slider-item">
                        <h1 class="recent-slider-item-title">How To Improve Your Website’s UX Design For Conversion Rate?</h1>
                        <a href="" class="recent-slider-item-link">Read now</a>
                    </div>
                    <div class="recent-slider-item">
                        <h1 class="recent-slider-item-title">Why Webflow Is the Best Web Design Program Right Now</h1>
                        <a href="" class="recent-slider-item-link">Read now</a>
                    </div>
                    <div class="recent-slider-item">
                        <h1 class="recent-slider-item-title">A User-centered Approach to Transactional Email Design</h1>
                        <a href="" class="recent-slider-item-link">Read now</a>
                    </div>
                    <div class="recent-slider-item">
                        <h1 class="recent-slider-item-title">How To Improve Your Website’s UX Design For Conversion Rate?</h1>
                        <a href="" class="recent-slider-item-link">Read now</a>
                    </div>
                    <div class="recent-slider-item">
                        <h1 class="recent-slider-item-title">How To Improve Your Website’s UX Design For Conversion Rate?</h1>
                        <a href="" class="recent-slider-item-link">Read now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>