<section class="show-case">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="show-case-item red vertical mr">
                    <div class="show-case-item-content">
                        <h3>Titan Eye Plus</h3>
                        <p>Veniam ut quis. Sunt dolor minus expedita impedit autem dolorem. Qui ad sequi et illum </p>
                    </div>
                    <div class="show-case-item-thumb">
                        <img src="images/case-study/show-case-thumb-vertical.svg" alt="vertical-image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="show-case-item purple horizontal mt ml">
                    <div class="show-case-item-content">
                        <h3>Clearbit</h3>
                        <p>Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis iure et qui eos consequatur aut eum consequatur soluta.</p>
                    </div>
                    <div class="show-case-item-thumb">
                        <img src="images/case-study/show-case-thumb-horizontal.svg" alt="horizontal-image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="show-case-item yellow horizontal mb mr">
                    <div class="show-case-item-content">
                        <h3>Clearbit</h3>
                        <p>Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis iure et qui eos consequatur aut eum consequatur soluta.</p>
                    </div>
                    <div class="show-case-item-thumb">
                        <img src="images/case-study/show-case-thumb-horizontal.svg" alt="horizontal-image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="show-case-item blue vertical mt ml">
                    <div class="show-case-item-content">
                        <h3>Titan Eye Plus</h3>
                        <p>Veniam ut quis. Sunt dolor minus expedita impedit autem dolorem. Qui ad sequi et illum </p>
                    </div>
                    <div class="show-case-item-thumb">
                        <img src="images/case-study/show-case-thumb-vertical.svg" alt="vertical-image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="show-case-item green horizontal mb mr">
                    <div class="show-case-item-content">
                        <h3>Clearbit</h3>
                        <p>Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis iure et qui eos consequatur aut eum consequatur soluta.</p>
                    </div>
                    <div class="show-case-item-thumb">
                        <img src="images/case-study/show-case-thumb-horizontal.svg" alt="horizontal-image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="show-case-item pink horizontal mt ml">
                    <div class="show-case-item-content">
                        <h3>Clearbit</h3>
                        <p>Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis iure et qui eos consequatur aut eum consequatur soluta.</p>
                    </div>
                    <div class="show-case-item-thumb">
                        <img src="images/case-study/show-case-thumb-horizontal.svg" alt="horizontal-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>