<section class="show-case">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="show-case-item red vertical mr">
          <div class="show-case-item-content">
            <h3>Titan Eye Plus</h3>
            <p>
              Veniam ut quis. Sunt dolor minus expedita impedit autem dolorem.
              Qui ad sequi et illum
            </p>
          </div>
          <div class="show-case-item-thumb">
            <img
              src="images/case-study/case-study-01.jpg"
              alt="vertical-image"
            />
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="show-case-item purple horizontal mt ml">
          <div class="show-case-item-content">
            <h3>Clearbit</h3>
            <p>
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta.
            </p>
          </div>
          <div class="show-case-item-thumb">
            <img
              src="images/case-study/case-study-02.jpg"
              alt="horizontal-image"
            />
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="show-case-item yellow horizontal mb mr">
          <div class="show-case-item-content">
            <h3>Clearbit</h3>
            <p>
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta.
            </p>
          </div>
          <div class="show-case-item-thumb">
            <img
              src="images/case-study/case-study-03.jpg"
              alt="horizontal-image"
            />
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="show-case-item blue vertical mt ml">
          <div class="show-case-item-content">
            <h3>Titan Eye Plus</h3>
            <p>
              Veniam ut quis. Sunt dolor minus expedita impedit autem dolorem.
              Qui ad sequi et illum
            </p>
          </div>
          <div class="show-case-item-thumb">
            <img
              src="images/case-study/case-study-04.jpg"
              alt="vertical-image"
            />
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="show-case-item green horizontal mb mr">
          <div class="show-case-item-content">
            <h3>Clearbit</h3>
            <p>
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta.
            </p>
          </div>
          <div class="show-case-item-thumb">
            <img
              src="images/case-study/case-study-05.jpg"
              alt="horizontal-image"
            />
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="show-case-item pink horizontal mt ml">
          <div class="show-case-item-content">
            <h3>Clearbit</h3>
            <p>
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta.
            </p>
          </div>
          <div class="show-case-item-thumb">
            <img
              src="images/case-study/case-study-06.jpg"
              alt="horizontal-image"
            />
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 text-center">
        <button class="load-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17"
            height="40"
            viewBox="0 0 17 40"
          >
            <path
              d="M.69 29.766l8.234 9.33 7.173-9.38-.795-.607-5.907 7.724V.31h-1v36.676L1.44 29.104l-.75.662z"
              fill="#000"
              fill-rule="nonzero"
            />
          </svg>
        </button>
        <span class="d-block mt-3">More Projects</span>
      </div>
    </div>
  </div>
</section>
