<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="section-title">
          <h2>Words from Beautiful Minds</h2>
          <p>
            Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis iure
            et qui eos consequatur aut eum consequatur soluta. Aspernatur
            pariatur dolor.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="testimonial-slider">
          <div class="testimonial-slider-item">
            <div class="thumb">
              <img
                src="images/testimonial/client-thumb-01.png"
                alt="client-thumbnail"
              />
            </div>
            <h2>Luci, Madan</h2>
            <p class="org">
              from
              <span>Apple</span>
            </p>
            <p class="quote">
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta. Aspernatur
              pariatur dolor.
            </p>
          </div>
          <div class="testimonial-slider-item">
            <div class="thumb">
              <img
                src="images/testimonial/client-thumb-02.png"
                alt="client-thumbnail"
              />
            </div>
            <h2>Luci, Madan</h2>
            <p class="org">
              from
              <span>Apple</span>
            </p>
            <p class="quote">
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta. Aspernatur
              pariatur dolor.
            </p>
          </div>
          <div class="testimonial-slider-item">
            <div class="thumb">
              <img
                src="images/testimonial/client-thumb-03.png"
                alt="client-thumbnail"
              />
            </div>
            <h2>Luci, Madan</h2>
            <p class="org">
              from
              <span>Apple</span>
            </p>
            <p class="quote">
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta. Aspernatur
              pariatur dolor.
            </p>
          </div>
          <div class="testimonial-slider-item">
            <div class="thumb">
              <img
                src="images/testimonial/client-thumb-01.png"
                alt="client-thumbnail"
              />
            </div>
            <h2>Luci, Madan</h2>
            <p class="org">
              from
              <span>Apple</span>
            </p>
            <p class="quote">
              Dolorem accusantium beatae qui. Asperiores deleniti occae. Quis
              iure et qui eos consequatur aut eum consequatur soluta. Aspernatur
              pariatur dolor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
