// html{
//   scroll-behavior: smooth;
// }

body {
  background: $white;
}

.section{
  padding: 100px 0;
}

.button{
  padding: 20px 40px;
  background: $black;
  color: $white;
  border-radius: 10px;
  font-family: $secondary-font;
  text-decoration: none;
  transition: $transition;
  display: inline-block;
  &:hover{
    background: $text-color;
    color: $white;
    text-decoration: none;
  }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background: $white;
  z-index: 999;
}
