// Color Variable
$white: #ffffff;
$black: #000000;
$text-color: #333b42;
$logo-color: #8f979e;

// Font Variable
$primary-font: tiempos;
$secondary-font: "Roboto", sans-serif;
$roboto-mono: "Roboto Mono", monospace;

$transition: all 0.3s ease;
